# Drupal files
drupal/web/sites/*/files
drupal/web/sites/*/private
drupal/vendor/
drupal/web/core/
drupal/web/modules/contrib/
drupal/web/themes/contrib/
drupal/web/profiles/contrib/

# Docker volumes
mariadb-init/*.sql

# Logs
logs/

# Environment
.env.local

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo
